/* CUSTOM PROPS */
:root {
    --primary:#ea625c;
    --primary-dark:#c9514c;
    --text-color: #333;
}



html {
    scroll-behavior: smooth;
    box-sizing: inherit;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* OUTLINE */
*:focus {
    outline: 2px dashed var(--primary);
    outline-offset: 2px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-style: normal;
}

a {
    list-style: none;
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1100px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
}

/* BUTTON */
.button {
    display: inline-block;
    width: 260px;
    min-width: 260px;
    text-align: center;
    height: 51px;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    padding: 12px 38px;
    border: 0;
    cursor: pointer;
    background-color: var(--primary);
    color: #fff;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: var(--primary-dark);
}

.button:active {
    opacity: 0.6;
}

/* LINED LINK */
.lined-link {
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primary);
}

.lined-link::before {
    width: 40px;
    height: 3px;
    margin-right: 10px;
    background-color: var(--primary);
    content: "";
    transition: width 0.3s ease;
}

.lined-link:hover::before {
    width: 60px;
}



/* SITE-HEADER */
.site-header {
    padding-top: 30px;
    padding-bottom: 30px;
}

.blog-container {
    display: flex;
    align-items: center;
}

.site-logo {
    margin-right: auto;
}

.site-logo-img {
    display: block;
    width: 35px;
    height: 42px;
    transition: opacity 0.3s ease;
}

.site-logo-img:hover {
    opacity: 0.8;
}

.site-logo-img:active {
    opacity: 0.6;
}

.sitenav {
    margin-right: 40px;
}

.sitenav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-item:not(:last-child){
    margin-right: 30px;
}

.nav-link {
    display: block;
    font-size: 15px;
    line-height: 23px;
    color: var(--text-color);
}

/* SERCH-FORM */
.search-form-input {
    padding: 6px;
    border: 0;
    border-bottom: 1px solid var(--text-color);
}



/* HERO SECTION */
.hero {
    padding-top: 140px;
    padding-bottom: 185px;
    border-bottom: 2px solid #dddddd;
    background-image: url(../img/intro-bg.png);
    background-repeat: no-repeat;
    background-size: 587px;
    background-position: left calc(50% + 550px) bottom;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lead-cta {
    width: 100%;
    max-width: 490px;
}

.lead-cta-heading {
    font-weight: 700;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 1.2;
    color: #000;
}

.lead-cta--white .lead-cta-heading {
    color: #fff;
}

.lead-cta-text {
    font-size: 16px;
    margin-bottom: 30px;
    padding-left: 37px;
    border-left: 3px solid #888;
    color:#777;
}

.lead-cta--white .lead-cta-text {
    border-color: #fff;
    color: #fff;
}

.hero-right {
    display: block;
    width: 387px;
    height: 530px;
}

.hero-right-img {
    display: block;
}


/* FEATURES SECTION */

.features {
    padding-top: 70px;
    padding-bottom: 70px;
}

.features-list {
    width: 100%;
    display: flex;
    list-style: none;
}

.features-item {
    width: 280px;
}

.features-item:not(:last-child) {
    margin-right: 80px;
}

.features-item-title {
    font-size: 18px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 27px;
    text-transform: uppercase;
    color: #222;
}

.features-item-text {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 1.5;
    color: var(--text-color);
}

.features-divider {
    width: 8px;
    height: 8px;
    border: 0;
    margin: 0;
    background-color: #ddd;
    box-shadow: 16px 0 0 0 #ddd,
        32px 0 0 0 #ddd;
}



/* PROMO */
.promo {
    padding-top: 70px;
    padding-bottom: 70px;
}

.promo-blog {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo-lead-cta-img {
    width: 400px;
    height: 600px;
    object-fit: cover;
}


/* RUNNERS */
.runners {
    padding-top: 240px;
    padding-bottom: 240px;
    height: 830px;
    background-image: url(../img/runners.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.runners-lead-cta {
    margin-left: auto;
}