html {
    scroll-behavior: smooth;
    box-sizing: inherit;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-style: normal;
}

a {
    list-style: none;
    text-decoration: none;
}

.button {
    width: 260px;
    height: 51px;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    padding: 12px;
    border: none;
    cursor: pointer;
    background-color: #ea625c;
    color: #fff;
}

.container {
    width: 100%;
    max-width: 1040px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}


/* SITE-HEADER */
.site-header {
    margin-top: 30px;
    margin-bottom: 80px;
}

.blog-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-logo {
    width: 35px;
    height: 42px;
}

.site-header-main {
    display: flex;
}

.site-header-main {
    align-items: center;
}

.sitenav {
    display: flex;
    margin-right: 40px;
}

.sitenav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

.nav-item:not(:last-child){
    margin-right: 30px;
}

.nav-link {
    display: block;
    font-size: 15px;
    line-height: 23px;
    color: #333;
}


.site-help-section {
    list-style: none;
    border-bottom: 1px solid #000;
}

.site-help-section-link {
    color: #666;
}



/* HERO SECTION */
.hero {
    border-bottom: 1px solid #dddddd;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-heading {
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 30px;
    line-height: 1.2;
}

.hero-text {
    width: 490px;
    height: 120px;
    font-size: 16px;
    margin-bottom: 30px;
    padding-left: 40px;
    border-left: 1px solid #888;
    color:#777;
}

.hero-right {
    display: block;
    width: 387;
    height: 530px;
}

.hero-right-img {
    display: block;
}


/* FEATURES SECTION */

.features {
    padding-top: 70px;
    padding-bottom: 70px;
}

.features-list {
    width: 100%;
    display: flex;
    list-style: none;
}

.features-item {
    width: 33%;
}

.features-item:not(:last-child) {
    margin-right: 80px;
}

.features-item-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 27px;
    text-transform: uppercase;
    color: #222;
}

.features-item-text {
    width: 280px;
    margin-bottom: 20px;
    color: #333;
}



/* FEATURES INFORMATION */
.features-information {
    display: flex;
    align-items: center;
}

.features-information-line {
    margin-right: 10px;
    width: 40px;
    height: 3px;
    background-color: #ea625c;
}

.features-information-link {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 26px;
    color: #ea625c;
}


/* PROMO */
.promo {
    margin-bottom: 70px;
    border: none;
}

.promo-blog {
    padding-top: 70px;
    padding-bottom: 70px;
}


/* RUNNERS */
.runners {
    height: 830px;
    background-image: url(../img/runners.jpg);
    background-position: center center;
}

.runners-blog {
    color: #fff;
}

.runners-text {
    border-left: 1px solid #fff;
    color: #fff;
}